

/* Media Queries */

/*
320px
576px
768px
992px
1199px
1399px
*/

@media (max-width:1399px) {
    .nav_list{
        margin-left: 200px;
    }
    
}

@media (max-width:1199px) {
    .nav_list{
        margin-left: 100px;
    }
}

@media (max-width:992px) {
    .nav_icon{
        display: none;
    }
    .nav_list , .getnow{
        display: none;
    }
    .container{
        margin: 0px;
    }
    .navbar{
        justify-content: space-between;
    }
    .nav_items{
        background-color: transparent;
    } 
    .hero{
        flex-direction: column;
    }
    .hero div{
        width: 100%;text-align: center;
    }
}


@media (max-width:768px) {
    .hero_img{
        order: 2;
    }
    .hero_text{
        margin-bottom: 50px;
    }
    .hero_text h4{
        font-size: 40px;
    }
    .hero_text h2{
        font-size: 40px;
    }
}

@media (max-width:576px) {
  

}

@media (max-width:320px) {}